/* Color of invalid field */
.field-error .control-label,
.field-error .help-block,
.field-error .form-control-feedback {
    color: #a94442;
}
/* Color of valid field */
.field-success .control-label,
.field-success .help-block,
.field-success .form-control-feedback {
    color: #3c763d;
}
.selectContainer .form-control-feedback {
    top: 0;
    right: -40px;
    line-height:38px;
}

.form-control-feedback {
    position: absolute;
    display:block;
    text-align: left;
    height:38px;
    line-height:38px;
}
body, .blue, input.form-control, select.form-control, textarea.form-control, .blue>.help-block   {
    color: #06162f;
}
hr.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #fbfafa, #24a2fb, #fbfafa);
}
.smallspace {
    height: 20px
}
.space {
    height: 40px
}
.form-control {
    border: solid 1px #06162f;
    height: 38px
}
.form-control.noneborder {
    border: none;
    box-shadow: none
}
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
.sublabel {
    font-weight: normal;
}
.form-group:focus {
    color: green
}
.bg-table {
    /*background-color: #fff6de;*/
    margin-top:15px;
}
.table-hover > tbody > tr:hover {
    background-color: #f9f2f4;
}
.green {
    color: #398439;
}
.bgorange{
    background-color: #f37715;
}
.bgorange:hover{
    box-shadow: 2px 2px 1px #9e5c2f;
}
.bgdorange {
    background-color: #e17200;
}
.white,.white:hover,.white:focus,.white:active {
    color: #ffffff;
}
.bgwhite {
    background-color: #fff6de;
}
.mblue {
    color: #3251a8;
    font-weight: 600;
}
#img-bottom {
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.flags {
    z-index: 221;
    position: absolute;
}
.btn-orange {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 7px;
}
.panel-warning, .panel-success {
    border-radius: 0px
}
.panel-warning {
    border-color: #ffcc80;
    border-radius: 0px
}
.panel-warning>.panel-heading {
    padding: 0 15px 0 15px;
    background-image: linear-gradient(to bottom, #ff944d, #e17200);
    border: solid 1px #ff944d;
    border-radius: 0px
}
.panel-warning>.panel-footer {
    background-color: #fcf8e3;
    border-top: solid 1px #faebcc;
    border-radius: 0px
}
.img-responsive {
    display: inline-block;
}
.form-horizontal .radio {
    padding-top: 0;
}
@media (max-width: 991px) {
    .margin-space{
        margin-bottom: 15px;
    }
    hr.hr-style {
        margin: 25px 20px 25px 20px;
    }
    .flags {
        right: 5px;
        top: 0
    }
    .panel-title {
        font-size: 17px;
    }
    h4 {
        font-size: 14px;
        line-height: 27px
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    #img-logo {
        width: 20%
    }
    #lblGender {
        padding-top: 7px;
    }
    .radioContainer .form-control-feedback {
        top: 0;
        right: -90px;
        line-height:38px;
    }
    #img-thanks {
        height: 20%
    }
}
@media (min-width: 992px) {
    hr.hr-style {
        margin: 50px 120px 50px 120px;
    }
    .flags {
        right: 90px;
        top: 0
    }
    .panel-title {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
        line-height: 30px
    }
    #img-logo {
        width: 17%
    }
    .radioContainer .form-control-feedback {
        top: 0;
        right: -150px;
        line-height:38px;
    }
}

.dropzone{
    width: auto; border: 2px dashed #24a2fb; border-radius: 5px;
    padding : 10px 10px;
    font-weight: bold;
}

.blue>.help-block {
    font-size: 16px;
}
a.a-header {
    text-decoration: none;
    cursor: pointer;
}
.special-background {
    background: rgba(252,240,217,0.9);
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(51,41,3,0.4)

}
